<html lang="en" ng-app="wikiApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wiki Angular App</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="/app/wiki.js"></script>
    <style>
        body {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="WikiController">
        <div class="row">
            <div class="col-md-12">
                <span class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pageDropdownButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-file-text" aria-hidden="true"></i> Pages
                    </button>
                    <div class="dropdown-menu" aria-labelledby="pageDropdownButton">
                        <a ng-repeat="page in pages track by page.id" class="dropdown-item" ng-click="load(page.id)" href="#">
                            {{page.name}}
                        </a>
                    </div>
                </span>
                <span>
                    <button type="button" class="btn btn-secondary" ng-click="reload()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Reload
                    </button>
                </span>
                <span>
                    <button type="button" class="btn btn-secondary" ng-click="newPage()">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> New page
                    </button>
                </span>
                <span>
                    <button type="button" class="btn btn-secondary" ng-click="delete()" ng-show="pageExists()">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete page
                    </button>
                </span>
            </div>

            <div class="col-md-12">
                <div class="invisible alert" role="alert" id="alertMessage">
                    {{alertMessage}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="rendering"></div>

            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="markdown">Markdown</label>
                        <textarea id="markdown" class="form-control" rows="25" ng-model="pageMarkdown"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pageName">Name</label>
                        <input class="form-control" type="text" value="" id="pageName" ng-model="pageName" ng-disabled="pageExists()">
                    </div>
                    <button type="button" class="btn btn-secondary" ng-click="save()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Save
                    </button>
                </form>
            </div>
        </div>
    </div>  
    
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
